/*conteiner-1*/
/*day*/
.conteiner-1 {
	position: relative;
}
.background-day {
	position: absolute;

}
.bg-img-day-1 {
    background-image: url('');
	width: 100%;
	height: 500px; 
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-color: #68C2E1;
	position: absolute;
}
.sun {
	background-image: url('../img/sun.png');
	width: 500px;
	height: 500px; 
	background-repeat: repeat;
	position: absolute;
	animation: mymove 30s infinite;
}
.sun:hover {
	transform: rotate(360deg);
	transition: all 0.3s linear 0.3s;
}
.cloud {
	background-image: url('../img/cloud.png');
	width: 100%;
	height: 500px; 
	background-repeat: repeat;
	background-size: cover;
	background-position: center;
	position: absolute;
}
@keyframes mymove {
  0%   {top: 400px; left: 0px;}
  25%  {top: 0px; left: 400px;}
  50%  {top: 0px; left: 400px;}
  75%  {top: 400px; left: 1000px;}
  100% {top: 400px; left: 0px;}
}
/*night*/
.background-night {
	position: absolute;

}
.bg-img-night-1 {
	background-image: url('');
	width: 100%;
	height: 500px; 
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-color: black;
	position: absolute;
}
.moon {
	background-image: url('../img/moon.svg');
	width: 200px;
	height: 200px; 
	background-repeat: repeat;
	position: absolute;
	animation: mymove 30s infinite;
}
.moon:hover {
	transform: rotate(360deg);
	transition: all 0.3s linear 0.3s;
}
.stars {
	background-image: url('../img/bg-night.svg');
	width: 100%;
	height: 500px; 
	background-repeat: repeat;
	background-size: cover;
	background-position: center;
	position: absolute;
}
